<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django tutorial</title>
</head>
<body>
    <header>
        <h2 style="color:brown">
            <center>Welcome to DIHANS World</center>
        </h2>
    </header>

    <main>
        {%block content%}
        {% endblock %}
    </main>
    <footer style="position:relative; bottom:8; width:100%; background-color:yellow">
        <a href="www.google.com">Nudas</a>
    </footer>
</body>
</html>